@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import './variables';

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
    height: 80px;
    border-bottom: 1px solid $dark;

    @include media-breakpoint-down(sm) {
        height: 60px;
    }
}

main {
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 80px);
        >.row {
            height: 100%;
        }

        .paths-list-contailer {
            border-right: 1px solid $dark;
        }
    }

    .paths-list-wrapper {
        max-height: 100%;
        overflow-y: auto;
        .path-item {
            border-radius: 3px;
            cursor: pointer;
            display: block;
            text-decoration: none;
            color: $dark;
            background-color: $light;

            .favorite-star {
                color: $primary;
            }

            &.selected {
                background-color: $blue;
                color: $white;
                pointer-events: none;

                .favorite-star {
                    color: $white;
                }
            }

            .path-distance {
                position: relative;
                padding-right: 30px;
                text-align: center;
                white-space: nowrap;
                font-size: 20px;
                font-weight: bold;

                .path-open-details {
                    position: absolute;
                    right: 0;
                    top: calc(50% - 20px);
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        @include media-breakpoint-down(lg) {
            .path-item {
                .path-distance {
                    font-size: 18px;
                    text-align: right;
                    margin-top: 10px;

                    .path-open-details {
                        position: absolute;
                        right: 0;
                        top: calc(50% - 18px);
                    }
                }
            }
        }
    }

    .path-details {
        max-height: 100%;
        overflow-y: auto;

        .map-container {
            background-color: $light;
            height: 300px;
        }

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $dark;
        }
    }
}

.new-path-modal {
    width: 90vw;
    max-width: none;
    height: 90vh;
    max-height: 90vh;
    margin: auto;

    .modal-content {
        min-height: 100%;

        .map-container {
            position: relative;
            height: 100%;
            min-height: 350px;
            .add-marker-button {
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                margin: auto;
                width: 200px;
                z-index: 10;;
            }
         }
    }
}

.loading-spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/loading.svg');
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center center;
    background-color: rgba($white, 0.5);
    z-index: 100;
}